.ConfigurationMenu{
    background-color: #eee;
    /* width: 10%; */
    /* height: 80vh; */
    margin-top: -2.1%;
    margin-bottom: -5.3%;
}

.ConfigurationMenu{
    padding-top: 10em;
    padding-bottom: 10em;
}

.ConfigurationMenu{
    margin-top: -10em;
    margin-bottom: -4.2em;
}

.ConfigurationMenu i{
    font-size: 2.5em;
    /* width: 100%; */
    padding-left: 35%;
}

.ConfigurationMenu a{
    color: #707070;
}

.ConfigurationMenu a:active{
    color: #000;
}

.ConfigurationMenu .active{
    color: #000;
}

.top__Menu p{
    width: 65%;
    margin: auto;
    padding-bottom: 80%; 
    font-size: 12px;
    text-align: center;
    
}