.Emotion{
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: auto;
    padding: 10% 5%;
}

.Emotion__Info{
    text-align: left;
}

.Emotion__Info h1{
    padding-bottom: 4%;
}

.Emotion img{
    width: 70%;
    margin: auto;
}

.Emotion__Info p{
    color: #707070;
    padding-top: 2%;
    width: 75%;
}

.Emotion a{
    padding: 12px 39px;
    background-color: #3387ea;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.Emotion a:hover{
    background-color: #2a68ad;
    color: #fff;
}

.Emotion__Btn{
    margin-top: 8%;
}