.ListCameras{
    background-color: #fff;
}

/* Styling the buttons under the customize page  */
.camera__proceed_Btn{
    padding: 12px 49px;
    background-color: #3387ea;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    margin-right: 4%;
    margin-left: 8.3%;
    margin-bottom: 6%;
    outline: none;
    cursor: pointer
}

.camera__proceed_Btn:hover{
    background-color: #639ee0;
    color: #fff;
}

.cutomize__camera__Btn{
    color: #959595;
    border: none;
    border-bottom: dotted;
    background: none;
}